---
import Layout from "@layouts/Layout.astro";

// TODO: If the user is logged out, redirect to signin
// return Astro.redirect("/signin");
---

<Layout title="Budget Keeper">
  <h1>Budget Keeper</h1>

  <p>You're logged in!</p>
</Layout>
