---
import Layout from "@layouts/Layout.astro";
import SigninForm from "@components/SigninForm.svelte";
import { isSignedIn } from "@server/auth";

if (await isSignedIn(Astro.cookies)) {
  return Astro.redirect("/");
}
---

<Layout title="Budget Keeper">
  <div class="flex h-full w-full">
    <div
      class="flex-1 grid place-items-center bg-gradient-to-br from-emerald-900 to-zinc-900 border-r border-white/10 w-6/12"
    >
      <h1 class="font-bold text-6xl">Budget Keeper</h1>
    </div>
    <main class="flex-1 grid place-items-center w-full">
      <SigninForm client:load />
    </main>
  </div>
</Layout>
